# Imports

In [109]:
import requests
from bs4 import BeautifulSoup as bs
import re
import json
import numpy as np
import pandas as pd
import zipfile
import sys
import requests
import nltk
from nltk.sentiment import SentimentAnalyzer
sa = SentimentAnalyzer()
from nltk.classify import NaiveBayesClassifier
from nltk.corpus import subjectivity
from nltk.sentiment.util import *
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk import tokenize
sid = SentimentIntensityAnalyzer()
from selenium.webdriver import Firefox
import random
import time
import warnings
import pymongo
import pickle
from functools import reduce
from selenium.common.exceptions import TimeoutException
from pyspark.ml.recommendation import ALS, ALSModel
from pyspark.ml.tuning import CrossValidator
from pyspark.sql.types import (
    IntegerType, StringType, IntegerType, FloatType, 
    StructField, StructType, DoubleType)
from gc_functions import (get_keys, launch_spotipy, scrape_explore_page, build_most_popular, 
                          build_highest_rated, combine_and_remove_duplicates, print_sentiments, 
                          extract_user_comments, get_all_comments, get_tab_idxs, new_user_predict, 
                          check_db_size, sleep, make_url_list, get_data, get_comments, load_commentlist, 
                          store_commentlist, scrape_comments, download_mongodb, assign_id_numbers)

# Initialize Mongodb, Spotipy

In [2]:
mongostring, myclientid, myclientsecret = get_keys()
mc = pymongo.MongoClient(mongostring)
sp = launch_spotipy(myclientid, myclientsecret)

# Build tables for most popular and highest rated tabs

In [3]:
#ratedtable = build_highest_rated()
#ratedtable.shape
#ratedtable.to_csv('ratedtable.csv', sep='~')
ratedtable = pd.read_csv('ratedtable.csv', sep='~', usecols = ['artist_name', 'artist_url', 'date', 'id', 'part', 'preset_id',
       'rating', 'recording', 'song_name', 'status', 'tab_access_type',
       'tab_url', 'tonality_name', 'tp_version', 'type', 'type_name',
       'verified', 'version', 'version_description', 'votes'])

In [4]:
#poptable = build_most_popular()
#poptable.shape
#poptable.to_csv('poptable.csv', sep='~')
poptable = pd.read_csv('poptable.csv', sep='~', usecols = ['artist_name', 'artist_url', 'date', 'id', 'part', 'preset_id',
       'rating', 'recording', 'song_name', 'status', 'tab_access_type',
       'tab_url', 'tonality_name', 'tp_version', 'type', 'type_name',
       'verified', 'version', 'version_description', 'votes'])

# Combine tables and extract urllist

In [5]:
combinedtable = combine_and_remove_duplicates(poptable, ratedtable)
combinedtable.shape

(1429, 20)

In [6]:
urllist = make_url_list(combinedtable)

# Autoscraping

In [7]:
#get_data(urllist, mc)

# Check Database Size

In [8]:
check_db_size(mc)

540

# Download Database

In [9]:
mydb = download_mongodb(mc)
len(mydb)

541

# Comment Extraction, Ratings List

In [10]:
ratingslist = extract_user_comments(mydb)
len(ratingslist)

30724

# Ratings Dataframe

In [11]:
ratingsdf = pd.DataFrame(ratingslist, columns = ['user', 'tab', 'rating'])
ratingsdf.shape

(30724, 3)

In [12]:
ratingsdf.to_csv('ratingsdf.csv', sep='~')

In [16]:
ratingsdf = pd.read_csv('ratingsdf.csv', sep='~', usecols = ['user', 'tab', 'rating'])
ratingsdf.shape

(30724, 3)

# Assign Numeric ID Numbers

In [17]:
idratingsdf = assign_id_numbers(ratingsdf)
idratingsdf.head()

     user     tab  rating
0  200001  313000  0.0000
1  200002  313000  0.7096
2  200003  313000  0.7096
3  200004  313000  0.3296
4  200005  313000  0.3296

In [52]:
idratingsdf.to_csv('idratingsdf.csv', sep='~', header = False)
idratingsdf.shape

(30724, 3)

In [53]:
idratingsdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30724 entries, 0 to 30723
Data columns (total 3 columns):
user      30724 non-null object
tab       30724 non-null object
rating    30724 non-null float64
dtypes: float64(1), object(2)
memory usage: 720.2+ KB

# ALS Model

In [68]:
ratings_schema = StructType([
    StructField('index', IntegerType(), False),
    StructField('user', IntegerType(), False),
    StructField('tab', IntegerType(),False),
    StructField('rating', FloatType(), False)
])

In [76]:
ratings_data = spark.read.csv('idratingsdf.csv', sep='~', schema=ratings_schema).persist()

In [88]:
ratings_data2 = ratings_data.filter(~reduce(lambda x, y: x & y, [ratings_data[c].isNull() for c in ratings_data.columns]))
ratings_data2.count()

In [92]:
ratings_df = spark.createDataFrame(ratings_data2.drop(ratings_data.index).collect())

In [94]:
train, test = ratings_df.randomSplit([0.8, 0.2], seed=55)

In [95]:
als_model = ALS(
    itemCol='tab',
    userCol='user',
    ratingCol='rating', 
    regParam=0.05,
    rank=10,
    coldStartStrategy='drop')

In [96]:
tab_rec = als_model.fit(train)

In [102]:
tab_rec.save("tab_rec_model")

In [104]:
!ls tab_rec_model/

itemFactors metadata    userFactors

In [110]:
tab_rec_test = ALSModel.load("tab_rec_model")

In [112]:
test_preds_test = tab_rec_test.transform(test)
test_preds_test.show(1)

+------+------+-------------------+-----------+
|  user|   tab|             rating| prediction|
+------+------+-------------------+-----------+
|200010|313003|-0.5257999897003174|-0.08778465|
+------+------+-------------------+-----------+
only showing top 1 row

In [97]:
train_preds = tab_rec.transform(train)
#train_preds.show()

In [98]:
test_preds = tab_rec.transform(test)
#test_preds.show()

# Cold Start

In [ ]:
#user_factors = tab_rec.userFactors.collect()
#user_factors_df = tab_rec.userFactors.toPandas()
#user_factors_arr = np.array(user_factors_df['features'].tolist())
#user_factors_arr.shape

In [ ]:
#item_factors = tab_rec.itemFactors.collect()
#item_factors_df = tab_rec.itemFactors.toPandas()
#item_factors_arr = np.array(item_factors_df['features'].tolist())
#item_factors_arr.shape

# Insert Code to generate initial ratings via survey

In [ ]:
#user_ratings = """train[train['user']==201598]"""   <==== These ratings will be generated via survey

In [ ]:
#tab_idxs = get_tab_idxs(user_ratings_df, item_factors_df)

In [ ]:
#item_factors_arr[tab_idxs]
#ratings = user_ratings_df['rating']
#ratings.values.reshape(-1,1)

In [ ]:
#X, residuals, rank, s = np.linalg.lstsq(item_factors_arr[tab_idxs], ratings.values, rcond=None)

In [ ]:
#newuser_factors = X
#new_user_df = new_user_predict(newuser_factors, item_factors_arr)
#new_user_df

# Pickling

In [101]:
import pickle

In [113]:
user_factors_df = tab_rec.userFactors.toPandas()

In [114]:
user_factors_df.to_pickle('user_factors.pkl')

In [115]:
user_factors_df_test = pd.read_pickle('user_factors.pkl')

In [116]:
user_factors_df_test

           id                                           features
0      200010  [-0.17132942378520966, -0.2985149621963501, 0....
1      200020  [0.3393862843513489, 0.18049797415733337, -0.0...
2      200030  [0.08033595234155655, 0.2997550666332245, 0.36...
3      200040  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
4      200050  [0.09635399281978607, 0.011810912750661373, 0....
5      200060  [-0.3788469731807709, 0.13050466775894165, 0.2...
6      200070  [0.06744886934757233, 0.008267770521342754, 0....
7      200080  [-0.15907622873783112, -0.03999718278646469, 0...
8      200090  [-0.6588613390922546, 0.3464178144931793, 0.27...
9      200110  [0.024425795301795006, 0.0029940735548734665, ...
10     200120  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
11     200130  [0.06800874322652817, 0.03426480293273926, 0.5...
12     200140  [0.22308973968029022, -0.09413573890924454, 0....
13     200160  [0.37404701113700867, 0.23865506052970886, 0.0...
14     200170  [0.0016134532634168863, 0.10120949149131775, 0...
15     200180  [-0.03194889798760414, -0.003916243091225624, ...
16     200190  [-0.28650036454200745, -0.40131738781929016, 0...
17     200200  [0.038986291736364365, 0.004778875038027763, 0...
18     200210  [0.05632687732577324, 0.513581395149231, 0.439...
19     200220  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20     200230  [0.09691525250673294, 0.011879711411893368, 0....
21     200240  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
22     200250  [-0.006314086262136698, -0.20924927294254303, ...
23     200260  [-0.038986291736364365, -0.004778875038027763,...
24     200270  [-0.21650488674640656, 0.22904624044895172, 0....
25     200290  [0.05317980423569679, 0.006518692709505558, 0....
26     200300  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
27     200310  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
28     200320  [0.03434506431221962, 0.004209961276501417, 0....
29     200360  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
...       ...                                                ...
20168  224129  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20169  224149  [-0.10665785521268845, 0.12686984241008759, 0....
20170  224159  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20171  224169  [-0.05598706752061844, -0.8520759344100952, -0...
20172  224179  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20173  224189  [0.14047308266162872, -0.13549058139324188, 0....
20174  224199  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20175  224209  [0.2825410068035126, -0.27251943945884705, 0.1...
20176  224239  [-0.25245702266693115, -0.3224104642868042, 0....
20177  224249  [-0.1372283399105072, -0.1752529889345169, 0.1...
20178  224259  [0.14680923521518707, -0.5587223768234253, -0....
20179  224289  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20180  224299  [-0.07120884954929352, 0.023446625098586082, -...
20181  224319  [-0.2777458131313324, 0.2543303966522217, -0.0...
20182  224329  [0.01523198839277029, -0.01949509233236313, 0....
20183  224339  [-0.19322480261325836, -0.10902080684900284, 0...
20184  224349  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20185  224359  [-0.09107038378715515, -0.09826667606830597, 0...
20186  224369  [-0.10162395238876343, -0.10965418070554733, 0...
20187  224379  [0.14161795377731323, -0.26693639159202576, 0....
20188  224399  [0.35143160820007324, 0.10670136660337448, 0.1...
20189  224409  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20190  224429  [-0.10134206712245941, 0.04978051409125328, 0....
20191  224449  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20192  224459  [0.14151747524738312, -0.35585466027259827, 0....
20193  224469  [0.05875415354967117, -0.14774103462696075, 0....
20194  224479  [0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...
20195  224489  [-0.8237269520759583, -0.3962966501712799, 0.2...
20196  224499  [-0.21046116948127747, -0.22765247523784637, -...
20197  224509  [-0.1353566199541092, -0.14641307294368744, -0...

[20198 rows x 2 columns]